/* Search Box */
.search-box{
    width: auto;
    height: 7rem;
    top: 45%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding-left: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Select Drop Down */
.form-select{
    width: 90%;
    height: 2.5rem;
    font-weight: lighter;
    line-height: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    font-size: 12px;
    color: #8A8A8A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
    
}

.form-box{
    margin-top: 1.3rem;
}




select.calendar{
    background-image: url('../img/fi_calendar.png');
    background-size: auto;
}

.calendar-box{
    padding-top: 9px;
}

.calendar-label{
    display: block;
    top: -7px;
    /* padding-bottom: 0.8rem; */
}

div input{
    width: 90%;
    height: 2.5rem;
    font-weight: lighter;
    line-height: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    font-size: 12px;
    color: #8A8A8A;
    background-image: url('../img/fi_calendar.png');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    
}



select.clock{
    background-image: url('../img/fi_clock.png');
    background-size: auto;
}

select.user{
    background-image: url('../img/fi_users.png');
    background-size: auto;
}

.search-container{
    display: flex;
    
}

.filter-button{
    width: 100%;
    margin-top: 3rem;
    height: 2.7rem;
    background-color: #5CB85F;;
}

div label{
    line-height: 18px;
    font-weight: 300;
    color: #3C3C3C;
    font-size: 12px;
    padding-bottom: 5px;
    position: relative;
    top: -4px;
}

/* Car Container */
.car-list-container{
    width: 60%;
}

.car-card{
    margin-top: 5rem;
    max-height: 100%;
    height: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
#car-picture{
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    /* height: 160px;
    width: 270px; */
    margin: 10% 10% 10% 10%;
}

.car-icon{
    height: 20px;
    width: 20px;
}

.icon-wrapper{
    display:inline-flex;
    padding-left: 1.5rem;
    padding-bottom: 1.2rem;
}

.icon-wrapper span{
    padding-left: 0.5rem;
}


div.car-card p:not(:first-child){
    padding-left: 1.5rem;
}

#choose-car{
    height: 4rem;
    width: 90%;
    
}

.btn-wrapper{
    text-align: center;
    padding-bottom: 1rem;
}

#car-capacity{
    background-image: url('../img/fi_users.png');
}